body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    margin: auto;
    overflow-x: hidden;
}

.common_width {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

/* Common */
.color_gray {
    color: #bababa;
}

.text_ellipsis {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Footer */
.footer>div {
    width: calc(100% - 40px);
    padding: 20px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.footer_top_links {
    display: flex;
}

.footer_top_links div {
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.footer_top_links h3 {
    font-size: 14px;
    margin: 4px 0;
}

.footer_top_links a {
    font-size: 14px;
    text-decoration: none;
    margin: 4px 0;
}

.footer_top_sns {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.footer_top_sns a {
    background-color: #333333;
    border-radius: 50px;
    margin-right: 20px;
    padding: 5px;
}

.footer_top_sns a svg {
    fill: #bababa;
    height: 30px;
    width: 30px;
}

.footer_top_sns a:last-of-type {
    margin-right: 0;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #353535;
    padding: 50px 0;
}

.footer_bottom>div a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}

.footer_bottom h4 {
    font-size: 14px;
}


/* Top */
.top {
    width: 100%;
}

.top_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 110px 25px 25px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, #121212 100%);
}

.top_content::before {
    content: "";
    position: absolute;
    z-index: -1;
    filter: opacity(0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/1000/200');
    background-repeat: round;
}

.top_content_verified {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
}

.top_content_verified svg {
    margin-right: 5px;
    fill: #2b91f6;
}

.top_content_name h1 {
    font-size: 75px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

.top_content_monthly {
    font-size: 15px;
}

/* Mid Common */
.mid_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

.mid_item_viewers, .mid_item_length {
    font-size: 15px;
    margin: 0 14px;
}

.mid_item_liked svg {
    fill: #1fdf64;
    margin: 0 14px;
}


/* Cards */
.mid_card_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.mid_item_card {
    background-color: #1e1e1e;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 14px;
}

.mid_item_card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 7px;
}

.mid_item_card h3 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mid_item_card h4 {
    font-size: 13px;
    margin-bottom: 10px;
}

/* Mid */
.mid {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 20px;
}

.mid_top_buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mid_top_buttons_play {
    margin-right: 30px;
}

.mid_top_buttons_play svg {
    fill: #1fdf64;
    width: 70px;
    height: 70px;
}

.mid_top_buttons_follow {
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 4px 15px;
    margin-right: 30px;
}

.mid_top_buttons_more svg {
    width: 30px;
    height: 30px;
}

/* Popular and Pick */
.mid_popular_pick {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.mid_popular {
    width: 50%;
}

.mid_pick {
    width: 40%;
}

.mid_popular_list {
    display: flex;
    flex-direction: column;
}

.mid_popular_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    padding: 5px 10px;
    margin-bottom: 10px;
}

.mid_popular_list li:last-of-type {
    margin-bottom: 0;
}

.mid_popular_list li>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 50%;
}

.mid_popular_list li>div:not(:first-child) {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.mid_popular_list li span {
    margin-right: 15px;
}

.mid_popular_list li img {
    margin-right: 15px;
}

.mid_pick_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mid_pick_list li {
    display: flex;
    padding: 5px 0;
    margin-bottom: 10px;
}

.mid_pick_list li>img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.mid_pick_list li>div {
    width: 100%;
    max-width: 250px;
}

.mid_pick_list li>div>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    margin-bottom: 2px;
}

.mid_pick_list li>div>div img {
    border-radius: 20px;
    margin-right: 8px;
}

.mid_pick_list li>div h3 {
    max-width: 200px;
    font-size: 15px;
}

.mid_pick_list li>div h4 {
    font-size: 13px;
}

.mid_pick_list li:last-of-type {
    margin-bottom: 0;
}

/* Discography */
.mid_discography {
    width: 100%;
    margin-bottom: 50px;
}

.mid_discography_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px auto 25px;
}

.mid_discography_buttons a {
    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}

.mid_discography_buttons a:not(:first-of-type) {
    color: #FFFFFF;
    background-color: #1e1e1e;
}

.mid_discography_buttons a:last-of-type {
    margin-right: 0;
}

/* Featuring */
.mid_featering_list {
    width: 100%;
    margin-bottom: 50px;
}

/* Ontour  */
.mid_ontour {
    width: 100%;
    margin-bottom: 50px;
}

.mid_ontour_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mid_ontour_list li {
    display: flex;
    width: 30%;
    min-width: 300px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.mid_ontour_list li:last-of-type {
    margin-bottom: 0;
    margin-right: 20px;
}

.mid_ontour_item_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1c1c1c;
    padding: 0 5px;
    margin-right: 16px;
}

.mid_ontour_item_date span {
    font-size: 14px;
}


.mid_ontour_list li p {
    font-size: 14px;
}

/* Customers */
.mid_customer {
    width: 100%;
    margin-bottom: 50px;
}

.mid_customers_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

/* Discovered On */
.mid_discovered_on {
    width: 100%;
    margin-bottom: 50px;
}

/* About */
.mid_about {
    position: relative;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    background-image: url("https://picsum.photos/1000/1001");
    margin-bottom: 50px;
}

.mid_about_content {
    position: relative;
    z-index: 2;
    height: calc(100% - 80px);
}

.mid_about_content>div:first-child {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.mid_about_content img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.mid_about_content h3 {
    margin-bottom: 7px;
    font-weight: bold;
}

.mid_about_filter {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, #121212 100%);
}


@media only screen and (max-width: 767px) {
    .common_width {
        width: 100%;
    }

    .footer_top {
        flex-direction: column;
    }

    .footer_top_links {
        margin-bottom: 30px;
    }

    .footer_top_links div {
        margin-right: 10vw;
    }

    .footer_top_links div:last-of-type {
        margin-right: 0;
    }

    .footer_bottom>div a {
        margin-bottom: 10px;
    }

    .mid {
        width: calc(100% - 40px);
        padding: 20px;
    }

    .mid_popular_pick {
        flex-direction: column;
    }

    .mid_popular {
        width: 100%;
        padding-right: 0;
    }


    .mid_popular_list {
        margin-bottom: 30px;
    }

    .mid_card_list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .mid_ontour_list li:last-of-type {
        margin-bottom: 0;
    }

    .mid_customers_list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .mid_about {
        width: 100%;
    }

    .mid_about_content {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .top_content_name h1 {
        font-size: 13vw;
        margin-bottom: 8px;
    }

    .mid {
        width: calc(100% - 32px);
        padding: 16px;
    }

    .mid_item_viewers, .mid_item_length {
        font-size: 13px;
        margin: 0;
    }

    .mid_item_liked svg {
        margin: 0;
    }

    .mid_popular_list li {
        width: 100%;
        padding: 5px 0;
    }

    .mid_popular_list li>div:not(:first-child) {
        flex-direction: column;
        justify-content: flex-end;
        width: auto;
    }

    .mid_card_list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;
    }

    .mid_customers_list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;
    }

    .mid_discography_buttons {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .mid_discography_buttons a {
        margin-bottom: 10px;
    }

    .mid_about {
        height: 400px;
        margin-bottom: 20px;
    }

    .mid_about_content {
        height: calc(100% - 10vw);
    }

    .mid_about_content>div:first-child {
        padding: 5vw;
    }
}